.invalid {
  font-size: 12px;
  color: #ed0808;
  display: none;
  padding: 3px;
}

input:invalid[focused="true"] {
  border-color: #ed0808;
}
input:invalid[focused="true"] ~ .invalid {
  display: block;
}
