body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Animation  */
.scale {
  transition: transform 0.2s ease-in-out;
}
.scale:hover {
  transform: scaleX(1.04);
}
